//Mixins

@mixin banner {
  width: 100%;
  position: relative;
  z-index: 1;
  bottom: 3em;
  .banner-content {
    position: absolute;
    width: 100%;
    top: 1em;
  }
  img {
    width: 100%;
  }
  span {
    font-size: $bannerHeading;
    display: block;
    text-transform: uppercase;
    font-weight: bold;
  }
  span.title {
    font-weight: normal;
    font-size: 4em;
    margin-top: 1.5em;
  }
}

@mixin clearfix {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}
