body {
  font-family: 'Risque', cursive;
}

nav {
  li {
    list-style: none;
    a {
      text-decoration: none;
      color: #D0B1D3;
    }
  }
}

section {
  p {
    font-family: 'Caveat', cursive;
  }
}
